<div class="container">
  <div class="tower-container">
    <div class="tower-list row">
      <div class="tower-header col-md-12">
        <span class="tower-title">Towers</span>
        <a
          class="tower-add"
          title="Add Tower"
          (click)="open(addTower)">
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <ul class="tower-names">
        <li *ngFor="let tower of towers">
          <span>{{ tower.name }}</span>
          <!-- <a class="tower-remove pull-right" title="Delete Tower">
            <i class="fa fa-remove"></i>
          </a> -->
          <a
            class="tower-edit pull-right"
            title="Update Tower"
            (click)="fillUpdateForm(updateTower, tower)">
            <i class="fa fa-pencil"></i>
          </a>
          <span class="pull-right px-2">
              <small>
                Last updated: {{ tower.dateCreated | date : 'mediumDate' }},
                {{ tower.dateCreated | date : 'h:mm a' }}
              </small>
            </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #addTower let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Tower</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')" title="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="onSubmitAddTower(addTowerForm)"
    #addTowerForm="ngForm">
    <div class="modal-body">
        <div class="form-group">
          <strong>
            <label for="towerName">
              Tower Name
              <span class="text-danger">*</span>
            </label>
          </strong>
          <div class="input-group">
            <input
              ngModel
              id="towerName"
              name="towerName"
              class="form-control"
              [ngClass]="towerName.errors?.required &&
              (towerName.touched || towerName.dirty) ?
              'border border-danger' : ''"
              type="text"
              placeholder="e.g. Tower A"
              #towerName="ngModel"
              required>
          </div>
          <span
            class="text-danger"
            *ngIf="towerName.errors?.required &&
              (towerName.touched || towerName.dirty)">
            <small>
                Tower name is required.
            </small>
          </span>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"
        title="Add" [disabled]="towerName.errors?.required">
        Add
      </button>
    </div>
  </form>
</ng-template>

<ng-template #updateTower let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Tower</h4>
      <button type="button" class="close" aria-label="Close"
        (click)="modal.dismiss('Cross click')" title="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      (ngSubmit)="onSubmitUpdateTower(updateTowerForm)"
      #updateTowerForm="ngForm">
      <div class="modal-body">
          <div class="form-group">
            <strong>
              <label for="towerName">
                Tower Name
                <span class="text-danger">*</span>
              </label>
            </strong>
            <div class="input-group">
              <input
                id="updateName"
                name="updateName"
                class="form-control"
                [ngClass]="updateName.errors?.required &&
                (updateName.touched || updateName.dirty) ?
                'border border-danger' : ''"
                type="text"
                placeholder="e.g. Tower A"
                #updateName="ngModel"
                required
                [(ngModel)]="updateTowerData.name">
                <input
                  id="key"
                  name="key"
                  type="hidden"
                  [(ngModel)]="updateTowerData.key"
                  #key="ngModel">
            </div>
            <span
              class="text-danger"
              *ngIf="updateName.errors?.required &&
                (updateName.touched || updateName.dirty)">
              <small>
                  Tower name is required.
              </small>
            </span>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success"
          title="Update" [disabled]="updateName.errors?.required">
          Update
        </button>
      </div>
    </form>
  </ng-template>
