<div class="container-fluid">
  <h2>New Employee</h2>

  <form
    #f="ngForm"
    (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="firstName" class="form-label">Firstname</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
        ngModel
        required>
    </div>
    <div class="form-group">
      <label for="lastName" class="form-label">Lastname</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        class="form-control"
        ngModel
        required>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        ngModel
        required>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="text"
        name="password"
        id="password"
        class="form-control"
        ngModel
        required>
    </div>
    <div class="form-group">
      <label for="role" class="form-label">Role</label>
      <select name="role" id="role" class="form-control" ngModel>
        <option *ngFor="let item of roles" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="securityGroup" class="form-label">Security Group</label>
      <select name="securityGroup" id="securityGroup" class="form-control" ngModel>
        <option *ngFor="let item of securityGroups" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="currentStudio" class="form-label">Current Studio</label>
      <select name="currentStudio" id="currentStudio" class="form-control" ngModel>
        <option *ngFor="let item of studios" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <fieldset class="form-group">
      <label for="status">Employee Status</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio"
              class="form-check-input"
              name="status"
              id="optionsRadios1"
              value="Active"
              ngModel
              checked>
          Active
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio"
                  class="form-check-input"
                  name="status"
                  id="optionsRadios2"
                  ngModel
                  value="Inactive">
          Inactive
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Save">
      <input type="reset" class="btn btn-warning ml-2" value="Clear">
      <a routerLink="/employees" class="btn btn-danger ml-2">Cancel</a>
    </div>
  </form>
</div>
