<div class="footer-background">
  <div class="padded-footer">
    <div class="table-style">
      <img src="../../assets/images/rcglogo-v2-footer.png" />
      <p class="footer-text">
        RCG Global Services has a rich,
        four-decade history of providing business consulting and technology professional services to the Global 1000 marketplace.
      </p>
    </div>
    <div class="copyright-container">
      <span class="copyright">&copy; 2018 RCG Global Services, Inc. All rights reserved.</span>
    </div>
  </div>
</div>
