.footer-background {
  background-color: #003363;
  min-width: 100%;
  min-height: 50px;
}

.footer-background .padded-footer {
  padding: 20px;
}

.footer-background .padded-footer .table-style {
  display: table;
}

.footer-background .footer-text {
  color: white;
  font-size: 18px;
  display: table-cell;
  padding-left: 25px;
}

.footer-background .copyright-container {
  margin-top: 12px;
  width: 100%;
  text-align: center;
}

.footer-background .copyright-container .copyright {
  color: white;
  font-size: 12px;
}
