<div class="loginWrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/images/logo.jpg">
        </div>
        <div class="col-md-8">
          <form>
            <div class="form-group">
              <label for="username">Username: </label>
              <input type="text" id="username" name="username" class="form-control">
              <label for="password">Password: </label>
              <input  type="password" id="password" name="password" ngModel class="form-control"><br/>
              <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
