<div class="loginWrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/images/logo.jpg">
        </div>
        <div class="col-md-8">
          <form
            (ngSubmit)="onSubmit(loginForm)"
            #loginForm="ngForm">
            <div class="form-group">
              <label for="email">Email: </label>
              <input
                ngModel
                type="text"
                id="email"
                name="email"
                class="form-control"
                #email="ngModel"
                required
                pattern="/[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`
                  {|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:
                  [a-z0-9-]*[a-z0-9])?/g">
              <label for="password">Password: </label>
              <input
                ngModel
                type="password"
                id="password"
                name="password"
                class="form-control"
                #password="ngModel"
                required>
              <br/>
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]=" (!email.valid && !(email.dirty || email.touched)) ||
                (!password.valid && !(password.dirty || password.touched))">
                Sign In
              </button>
              <div *ngIf="errorMessage.length > 0">
                <br/>
                <span
                  class="alert alert-danger"
                  *ngIf="errorMessage.length > 0">
                  {{errorMessage}}
                </span>
              </div>
              <br/>
              <div [hidden]="isExisting">
                <br/>
                <span
                  class="alert alert-danger">
                  {{ noAccount }}
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
