<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <div class="card border-info">
                <div class="card-body">
                    <h2>{{editMode ? 'Update' : 'Create'}} Studio</h2>
                    <form #studioForm="ngForm" (ngSubmit)="onSubmitStudio()">
                        <div class="form-group">
                            <label for="name" class="font-weight-bold">Name</label>
                            <input type="text" id="name" name="name" class="form-control" ngModel #name="ngModel" required>
                            <div class="help-control text-danger" *ngIf="name.invalid &&  (name.dirty || name.touched)">Name is required</div>
                        </div>
                        <div class="form-group">
                            <label for="tower" class="font-weight-bold">Tower List</label>
                            <select name="tower" id="tower" class="form-control" required ngModel #tower="ngModel">
                                <option disabled selected value> -- select a tower -- </option>
                                <option [value]="tower.data?.name" *ngFor="let tower of towerList">{{tower.data?.name | uppercase}}</option>
                            </select>
                            <div class="help-control text-danger" *ngIf="tower.invalid &&  (tower.dirty || tower.touched)">Tower is required</div>
                        </div>
                        <br>
                        <button *ngIf="!checkModeState()" [disabled]="!studioForm.valid" class="btn btn-primary">Add</button>
                        <button *ngIf="checkModeState()" [disabled]="!studioForm.valid" class="btn btn-success">Update</button>
                        <button type="button" *ngIf="checkModeState()" class="btn btn-secondary ml-1" (click)="onCancel()">Cancel</button>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div class="card border-info">
                <div class="card-body">
                    <h2>Studio List</h2>
                    <div class="card border-info" *ngFor="let studio of studioList; let i = index">
                        <div class="card-body">
                            <h1 for="">{{studio.data?.name}}</h1>
                            <p for="">{{studio.data?.tower}}</p>
                            <button class="btn btn-warning" (click)="onEditStudio(i)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
