<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
  <button type="button" class="close" aria-label="Close"
    (click)="dismiss()" title="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addProjectForm"
  (ngSubmit)="onSubmitAddProject()">
  <div class="modal-body">
      <div class="form-group">
        <strong>
          <label for="projectName">
            Project Name
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <input
            id="projectName"
            name="projectName"
            class="form-control"
            [ngClass]="isExisting || newName.invalid &&
            (newName.touched || newName.dirty) ?
            'border-danger' : ''"
            type="text"
            placeholder="e.g. Project A"
            formControlName="projectName"
            (change)="checkExistence()">
        </div>
        <span
          class="text-danger"
          *ngIf="newName.invalid &&
            (newName.touched || newName.dirty)">
          <small>
              {{ errorRequiredMessage }}
          </small>
        </span>
        <span
          class="text-danger"
          *ngIf="isExisting && newName.valid">
          <small>
            {{ errorMessage }}
          </small>
        </span>
        <br>
        <strong>
          <label for="engagementName">
            Engagement
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <select
            class="form-control"
            [ngClass]="engage.touched && engage.pristine ?
            'border-danger' : ''"
            name="engagementName"
            id="engagementName"
            formControlName="engagementName">
            <option
              *ngFor="let engagement of engagements"
              [value]="engagement.key">
              {{ engagement.name }}
            </option>
          </select>
        </div>
        <span
          class="text-danger"
          *ngIf="engage.touched && engage.pristine">
          <small>
            {{ errorRequiredEngagement }}
          </small>
        </span>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
      title="Add" [disabled]="newName.invalid &&
        (newName.pristine || engage.pristine)">
      Add
    </button>
  </div>
</form>
