.form-check-input:checked + .form-check-label {
    background: #28a745;
    color: #fff;
}

.form-check-label,
.toggleAddGroupDialog,
.recordsTableLabel,
.specialLabel {
    cursor: pointer;
}

.permissionCheck:checked ~ label .fa-check-square,
.permissionCheck:not(:checked) ~ label .fa-circle {
    display: inline-block;
}
.permissionCheck:not(:checked) ~ label .fa-check-square,
.permissionCheck:checked ~ label .fa-circle {
    display: none;
}

.recordsTableRow {
    border-top: 1px solid #dee2e6;
    padding-top: 1em;
}

.recordsTableRow .col {
    min-height: 3em;
}

.specialItem label span {
    display: inline-block;
    min-height: 3em;
}

.fa-circle {
    color: #dee2e6;
    font-size: 0.5em;
}

.fa-check-square {
    color: #28a745;
    font-size: 1.5em;
}