<div class="container-fluid">
  <h2>Permissions</h2>

  <div class="row">
    <div class="col-sm-3">
      <div class="rounded">
        <h5 class="rounded-top bg-dark mb-0 p-2 text-light clearfix">
          Roles
          <a class="toggleAddGroupDialog text-light pull-right" (click)="openAddGroupDialog()">
            <i class="fa fa-plus mr-1" aria-hidden="true"></i>
            <span class="sr-only">Add</span>
          </a>
        </h5>
        <ul class="list-group">
          <li
            *ngFor="let item of securityGroups">
            <a routerLinkActive="active"
              [routerLink]="['/admin', 'permissions', item.id]"
              class="list-group-item rounded-0">
              <i class="fa fa-users mr-2" aria-hidden="true"></i>
              {{ item.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <form #permissionsForm=""ngForm>
        <div class="rounded border mb-4">
          <h6 class="bg-primary rounded-top text-light mb-0 p-2">Records</h6>
          <div class="pt-4 pr-4 pb-0 pl-4">
            <div class="row font-weight-bold text-center mb-3">
              <div class="col"></div>
              <div class="col">View</div>
              <div class="col">Add</div>
              <div class="col">Edit</div>
              <div class="col">Delete</div>
            </div>
            <div class="row recordsTableRow" *ngFor="let target of objKeys(accessRecords);">
              <div class="col">{{target}}</div>
              <div class="col text-center" *ngFor="let key of objKeys(accessRecords[target])">
                <input #permission
                  type="checkbox"
                  name="permissions[]"
                  class="sr-only permissionCheck"
                  [id]="accessRecords[target][key]"
                  [checked]="hasPermission(accessRecords[target][key])"
                  [value]="accessRecords[target][key]">
                <label class="recordsTableLabel" [for]="accessRecords[target][key]">
                  <i
                    aria-hidden="true"
                    class="fa fa-check-square"></i>
                  <i
                    aria-hidden="true"
                    class="fa fa-circle"></i>
                  <span class="sr-only">{{key}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="rounded border">
          <h6 class="bg-primary rounded-top text-light mb-0 p-2">Special Permissions</h6>
          <div class="p-4">
            <div class="table">
              <tbody>
                <tr *ngFor="let key of objKeys(accessSpecial);">
                  <td height="60" class="text-left">
                    {{key}}
                  </td>
                  <td width="100" class="text-center">
                    <input #permission
                      type="checkbox"
                      name="permissions[]"
                      class="permissionCheck sr-only"
                      (click)="temp()"
                      [id]="accessSpecial[key]"
                      [value]="accessSpecial[key]">
                    <label class="specialLabel" [for]="accessSpecial[key]">
                      <i
                        aria-hidden="true"
                        class="fa fa-check-square"></i>
                      <i
                        aria-hidden="true"
                        class="fa fa-circle"></i>
                      <span class="sr-only">{{key}}</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
