<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="''">
      <img src="../../assets/images/rcglogo-v2.png" class="header-image" />
    </a>
    <div class="pull-right">
      <a
        (click)="openSideNav()"
        class="hamburger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
  <div #mySidenav class="sidenav">
    <a class="closebtn" (click)="closeSideNav()">&times;</a>
    <a
      [routerLink]="''"
      (click)="closeSideNav()">
      <i class="fa fa-home"></i>
      Home
    </a>
    <a
      *ngFor="let headerItem of headerItems"
      [routerLink]="headerItem.url"
      (click)="closeSideNav()">
      <i class="{{ headerItem.icon }}"></i>
      {{ headerItem.text }}
    </a>
    <hr>
    <a (click)="onUserLogout()">
      <i class="fa fa-sign-out"></i>
      Logout
    </a>
  </div>
</div>
