<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Engagement</h4>
  <button type="button" class="close" aria-label="Close"
    (click)="dismiss()" title="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  (ngSubmit)="onSubmitUpdateEngagement()"
  [formGroup]="updateEngagementForm">
  <div class="modal-body">
      <div class="form-group">
        <strong>
          <label for="engagementName">
            Engagement Name
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <input
            id="updateName"
            name="updateName"
            class="form-control"
            [ngClass]="updatedName.invalid &&
            (updatedName.touched || updatedName.dirty) || isExisting ?
            'border border-danger' : ''"
            type="text"
            placeholder="e.g. Engagement A"
            formControlName="updateName"
            (change)="checkExistence()">
            <input
              id="key"
              name="key"
              type="hidden"
              formControlName="key">
        </div>
        <span
          class="text-danger"
          *ngIf="updatedName.invalid &&
            (updatedName.touched || updatedName.dirty)">
          <small>
              {{ errorRequiredMessage }}
          </small>
        </span>
        <span
          class="text-danger"
          *ngIf="isExisting && updatedName.valid">
          <small>
            {{ errorMessage }}
          </small>
        </span>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      title="Update" [disabled]="updatedName.invalid">
      Save
    </button>
  </div>
</form>
