.project-container a {
    cursor: pointer;
}
.table-header a:hover {
    color: #0066ff;
}
.table-header {
    padding: 5px;
    background-color: #003363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
}
.table-title {
    font-size: 20px;
    padding: 0 10px;
}
.project-remove {
    color: red!important;
}
.project-edit {
    color: green!important;
}
.table thead {
    color: #003363;
    background-color: #a8c7dc;
}
.table tbody small {
    color: #999;
}
/* .table tbody {
    display: block;
    max-height: 465px;
    overflow-y: auto;
}
.table thead,
.table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
} */
