<div class="container">
  <div class="project-container">
    <div class="project-list row">
      <div class="table-header col-md-12">
        <span class="table-title pull-left">Projects</span>
        <span class="pull-right mt-1 px-2">
          <a
            class="project-add"
            title="Add Project"
            (click)="open()">
            <i class="fa fa-plus"></i>
          </a>
        </span>
      </div>
      <table class="table table-striped">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Engagement</th>
          <th scope="col">...</th>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.name }}</td>
            <td>{{ project.engagement }}</td>
            <td>
              <span>
                <small class="font-italic">
                  Last updated: {{ project.dateCreated | date : 'mediumDate' }},
                  {{ project.dateCreated | date : 'h:mm a' }}
                </small>
              </span>
              <a
                class="project-remove pull-right px-1"
                title="Delete Project"
                (click)="delete(project)">
                <i class="fa fa-trash"></i>
              </a>
              <a
                class="project-edit pull-right px-2"
                title="Edit Project"
                (click)="update(project)">
                <i class="fa fa-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span [hidden]="projects?.length > 0">
      <p class="text-center font-italic">
        Add projects by clicking the plus(+) sign.
      </p>
    </span>
  </div>
</div>
