<div class="container">
  <div class="project-container">
    <div class="project-list row">
      <div class="table-header col-md-12">
        <span class="table-title pull-left">Projects</span>
        <span class="pull-right mt-1 px-2">
          <a
            class="project-add"
            title="Add Project"
            (click)="open(addProject)">
            <i class="fa fa-plus"></i>
          </a>
        </span>
      </div>
      <table class="table table-striped">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Engagement</th>
          <th scope="col">...</th>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.name }}</td>
            <td>{{ project.engagement }}</td>
            <td>
              <span>
                <small class="font-italic">
                  Last updated: {{ project.dateCreated | date : 'mediumDate' }},
                  {{ project.dateCreated | date : 'h:mm a' }}
                </small>
              </span>
              <a
                class="project-remove pull-right px-1"
                title="Delete Project"
                (click)="confirmProjectDelete(deleteProject, project)">
                <i class="fa fa-trash"></i>
              </a>
              <a
                class="project-edit pull-right px-2"
                title="Update Project"
                (click)="fillUpdateForm(updateProject, project)">
                <i class="fa fa-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span [hidden]="projects?.length > 0">
      <p class="text-center font-italic">
        Add projects by clicking the plus(+) sign.
      </p>
    </span>
  </div>
</div>

<ng-template #addProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')" title="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="onSubmitAddProject(addProjectForm)"
    #addProjectForm="ngForm">
    <div class="modal-body">
        <div class="form-group">
          <strong>
            <label for="projectName">
              Project Name
              <span class="text-danger">*</span>
            </label>
          </strong>
          <div class="input-group">
            <input
              ngModel
              id="projectName"
              name="projectName"
              class="form-control"
              [ngClass]="projectName.errors?.required &&
              (projectName.touched || projectName.dirty) || isExisting ?
              'border border-danger' : ''"
              type="text"
              placeholder="e.g. Project A"
              #projectName="ngModel"
              required>
          </div>
          <br>
          <strong>
            <label for="engagementName">
              Engagement
              <span class="text-danger">*</span>
            </label>
          </strong>
          <div class="input-group">
            <select
              ngModel
              class="form-control"
              [ngClass]="engagementName.errors?.required &&
              (engagementName.touched || engagementName.dirty) ?
              'border border-danger' : ''"
              name="engagementName"
              id="engagementName"
              #engagementName="ngModel"
              required>
              <option
                *ngFor="let engagement of engagements"
                value="{{ engagement.key }}">
                {{ engagement.name }}
              </option>
            </select>
          </div>
          <span
            class="text-danger"
            *ngIf="projectName.errors?.required &&
              (projectName.touched || projectName.dirty)">
            <small>
                {{ errorRequiredMessage }}
            </small>
          </span>
          <span
            class="text-danger"
            *ngIf="isExisting && !projectName.errors?.required
            (projectName.touched || projectName.dirty)">
            <small>
              {{ errorMessage }}
            </small>
          </span>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"
        title="Add" [disabled]="projectName.errors?.required">
        Add
      </button>
    </div>
  </form>
</ng-template>

<ng-template #updateProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Project</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')" title="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    (ngSubmit)="onSubmitUpdateProject(updateProjectForm)"
    #updateProjectForm="ngForm">
    <div class="modal-body">
        <div class="form-group">
          <strong>
            <label for="projectName">
              Project Name
              <span class="text-danger">*</span>
            </label>
          </strong>
          <div class="input-group">
            <input
              id="updateName"
              name="updateName"
              class="form-control"
              [ngClass]="updateName.errors?.required &&
              (updateName.touched || updateName.dirty) || isExisting ?
              'border border-danger' : ''"
              type="text"
              placeholder="e.g. Project A"
              #updateName="ngModel"
              required
              [(ngModel)]="updateProjectData.name">
              <input
                id="key"
                name="key"
                type="hidden"
                [(ngModel)]="updateProjectData.key"
                #key="ngModel">
          </div>
          <br>
          <strong>
            <label for="engagementName">
              Engagement
              <span class="text-danger">*</span>
            </label>
          </strong>
          <div class="input-group">
            <select
              ngModel
              class="form-control"
              [ngClass]="updateEngagementName.errors?.required &&
              (updateEngagementName.touched || updateEngagementName.dirty) ?
              'border border-danger' : ''"
              name="engagementName"
              id="engagementName"
              #updateEngagementName="ngModel"
              required>
              <option
                *ngFor="let engagement of engagements"
                value="{{ engagement.key }}">
                {{ engagement.name }}
              </option>
            </select>
          </div>
          <span
            class="text-danger"
            *ngIf="updateName.errors?.required &&
              (updateName.touched || updateName.dirty)">
            <small>
                {{ errorRequiredMessage }}
            </small>
          </span>
          <span
            class="text-danger"
            *ngIf="isExisting && !updateName.errors?.required
            (updateName.touched || updateName.dirty)">
            <small>
              {{ errorMessage }}
            </small>
          </span>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success"
        title="Update" [disabled]="updateName.errors?.required">
        Update
      </button>
    </div>
  </form>
</ng-template>

<ng-template #deleteProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Project</h4>
    <button type="button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')" title="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete
      <b>{{ projectToDelete.name }}</b>
      ?
    </p>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-default"
      title="Cancel"
      (click)="modal.dismiss('Cancel click')">
      Cancel
    </button>
    <button
      class="btn btn-danger"
      title="Delete"
      (click)="onConfirmDelete(projectToDelete.key)">
      Delete
    </button>
  </div>
</ng-template>
