<div class="container">
  <div class="engagement-container">
    <div class="engagement-list row">
      <div class="table-header col-md-12">
        <span class="table-title pull-left">Engagements</span>
        <span class="pull-right mt-1 px-2">
          <a
            class="engagement-add"
            title="Add Engagement"
            (click)="open()">
            <i class="fa fa-plus"></i>
          </a>
        </span>
      </div>
      <table class="table table-striped">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">...</th>
        </thead>
        <tbody>
          <tr *ngFor="let engagement of engagements">
            <td>{{ engagement.name }}</td>
            <td>
              <span>
                <small class="font-italic">
                  Last updated:
                  {{ engagement.dateCreated | date : 'mediumDate' }},
                  {{ engagement.dateCreated | date : 'h:mm a' }}
                </small>
              </span>
              <a
                class="engagement-remove pull-right px-1"
                title="Delete Engagement"
                (click)="delete(engagement)">
                <i class="fa fa-trash"></i>
              </a>
              <a
                class="engagement-edit pull-right px-2"
                title="Edit Engagement"
                (click)="update(engagement)">
                <i class="fa fa-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <span [hidden]="engagements?.length > 0">
      <p class="text-center font-italic">
        Add engagements by clicking the plus(+) sign.
      </p>
    </span>
  </div>
</div>
