.form-control-lg[contenteditable=true] {
    font-size: 1.75rem;
    font-weight: 600;
    height: auto;
    outline: none;
}

h3 {
    padding: .5rem 1rem;
}

table td {
    height: 60px;
    vertical-align: middle;
}

input[type=checkbox] + label {
    cursor: pointer;
    margin-bottom: 0;
}

.fa-circle {
    color: #bfc3c7;
    font-size: 0.5em;
}

.fa-check-square {
    color: #28a745;
    font-size: 1.5em;
}