@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
}
ul, ol {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003363;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a8c7dc;
}

/* Table */
.table thead {
    color: #003363!important;
}
.table tbody small {
    color: #bbb;
}
