.container {
  padding-top: 20px;
}

.fill-width {
  width: 100%;
}

.card {
  max-height: 300px;
  cursor: pointer
}

.title-image {
  text-align: center;
}

.title-image .image{
  font-size: 42px;
}
