<div class="container">
  <div class="row button-row">
    <div class="col-md-6 text-center">
      <button
        class="main-button"
        (click)="routeToPerformance()"
        title="Performance Data">
          <i class="fa fa-bar-chart image"></i>
          <br>
          Performance Data
      </button>
    </div>
    <div class="col-md-6 text-center button-container">
        <button class="main-button" title="YTD PEP Data">
            <i class="fa fa-bar-chart image text-center"></i>
            <br>
            YTD PEP Data
            <br>
            <small>
              <small>
                <small>
                  (Page under construction)
                </small>
              </small>
            </small>
        </button>
    </div>
  </div>
</div>
