<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Home</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 fill-width card-item">
      <div class="card">
        <div class="card-body">
          <div class="title-image">
            <i class="fa fa-th image"></i>
            <h2>Sprint PEP Data</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 fill-width card-item">
      <div class="card">
        <div class="card-body">
          <div class="title-image">
            <i class="fa fa-th image"></i>
            <h2>YTD PEP Data</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- temporary set for verification -->
<hr>
<app-excel-upload (processUpload)="onProcessUpload($event)"></app-excel-upload>
<hr>
<app-excel-editor [headerName]="'Current Car Prices'" (updateEditData)="onUpdateEditData($event)"></app-excel-editor>
<!-- -------------------------------- -->
