<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Project</h4>
  <button type="button" class="close" aria-label="Close"
    (click)="dismiss()" title="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="editProjectForm"
  (ngSubmit)="onSubmitUpdateProject()">
  <div class="modal-body">
      <div class="form-group">
        <strong>
          <label for="projectName">
            Project Name
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <input
            id="updateName"
            name="updateName"
            class="form-control"
            [ngClass]="isExisting || updatedName.invalid &&
            (updatedName.touched || updatedName.dirty) ?
            'border-danger' : ''"
            type="text"
            placeholder="e.g. Project A"
            formControlName="updateName"
            (change)="checkExistence()">
          <input
            id="key"
            name="key"
            type="hidden"
            formControlName="key">
        </div>
        <span class="help-control text-danger"
          *ngIf="updatedName.invalid &&
            (updatedName.touched || updatedName.dirty)">
          <small>
              {{ errorRequiredMessage }}
          </small>
        </span>
        <span class="help-control text-danger"
          *ngIf="isExisting && updatedName.valid">
          <small>
            {{ errorMessage }}
          </small>
        </span>
        <br>
        <strong>
          <label for="engagementName">
            Engagement
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <select class="form-control"
            name="engagementName"
            id="engagementName"
            formControlName="engagementName">
            <option
              *ngFor="let engagement of engagementList"
              [value]="engagement.key">
              {{ engagement.name }}
            </option>
          </select>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      title="Update" [disabled]="updatedName.invalid ||
        (updatedName.pristine && updatedEngagement.pristine)">
      Save
    </button>
  </div>
</form>
