<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Project</h4>
  <button type="button" class="close" aria-label="Close"
    (click)="dismiss()" title="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  (ngSubmit)="onSubmitUpdateProject(updateProjectForm)"
  #updateProjectForm="ngForm">
  <div class="modal-body">
      <div class="form-group">
        <strong>
          <label for="projectName">
            Project Name
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <input
            id="updateName"
            name="updateName"
            class="form-control"
            [ngClass]="updateName.errors?.required &&
            (updateName.touched || updateName.dirty) || isExisting ?
            'border border-danger' : ''"
            type="text"
            placeholder="e.g. Project A"
            #updateName="ngModel"
            required
            [(ngModel)]="updateProjectData.name">
            <input
              id="key"
              name="key"
              type="hidden"
              [(ngModel)]="updateProjectData.key"
              #key="ngModel">
        </div>
        <br>
        <strong>
          <label for="engagementName">
            Engagement
            <span class="text-danger">*</span>
          </label>
        </strong>
        <div class="input-group">
          <select
            [(ngModel)]="updateProjectData.engagement"
            class="form-control"
            [ngClass]="updateEngagementName.errors?.required &&
            (updateEngagementName.touched || updateEngagementName.dirty) ?
            'border border-danger' : ''"
            name="engagementName"
            id="engagementName"
            #updateEngagementName="ngModel"
            required>
            <option
              *ngFor="let engagement of engagements"
              value="{{ engagement.key }}">
              {{ engagement.name }}
            </option>
          </select>
        </div>
        <span
          class="text-danger"
          *ngIf="updateName.errors?.required &&
            (updateName.touched || updateName.dirty)">
          <small>
              {{ errorRequiredMessage }}
          </small>
        </span>
        <span
          class="text-danger"
          *ngIf="isExisting && !updateName.errors?.required
          (updateName.touched || updateName.dirty)">
          <small>
            {{ errorMessage }}
          </small>
        </span>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
      title="Update" [disabled]="updateName.errors?.required">
      Save
    </button>
  </div>
</form>
